@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Jersey 15', sans-serif;
    height: 100vh;
    overflow: hidden;
}
main{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 80%;
    
}
h2{
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
}
.container {
    margin-top: 10px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flag-img {
    width: 600px;  
    height: 300px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid;
}

.flag-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.options ul li {
    list-style: none;
    font-size: 4rem;
    text-align: center;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
}
.options ul li:hover {
    background-color: aqua;
}
.box {
    font-size: 2rem;
    margin: 10px 0px;
    text-align: center;

}
.box h3 {
    margin-top: 10px;
}
.box span {
    color: blue;
    font-weight: bold;
    font-size: 3rem;

}
.points {
    font-size: 2rem;
    margin-left: 20%;
}
.new-game {
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;

}
.right span {
    color: green;
    font-size: 2.5rem;
}
.wrong span {
    color: red;
    font-size: 2.5rem;
}
.result {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
 
}
.next {
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
    border: 1px solid ;
    background-color: lightblue;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.next:hover {
    background-color: green;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;  
    background-color: rgb(32, 31, 31);
    text-align: center; 

}
.footer-text {
    color: white;
    font-size: 1rem; 
    font-family: sans-serif;
}

.score {
    color: yellow;
}
@media screen and (max-width: 1000px) {
    body {
        height: 100vh;
        overflow: hidden;
        flex-wrap: wrap;
    }
    h2 {
        font-size: 3rem;
        margin-top: 20px;

    }
    main {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
    .container {
        margin-top: 70px;
    }

    .flags {
        margin-top: -10rem;
    }
    
    .flag-img {
        height: 250px;
        width: 400px;
        margin-top: 150px;
    }
    .options ul li {
        height: 2rem;
        font-size: 2rem;
    }
    .new-game {
        margin-bottom: 10px;
    }
    .points {
        margin-top: 30px;
    }
}